body {
    background-color: palevioletred;
}

headline {
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}

headline2 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

headline3 {
    font-weight: bold;
    text-decoration: underline;
}

#info {
    left: 820px;
    top: 5px;
    position: absolute;
}
#scoreBoard {
    padding-bottom: 50px;
}